body {
	margin: 0;
	padding: 0;
}

.frog_C {
    background-image: url(img/pattern.png);
	color: #000;
	padding: 60px;
	min-height: 100vh;
	box-sizing: border-box;
}

.frog_IC {
	background-color: #8ecb35d4;
	box-sizing: border-box;
	padding: 20px;
}

h1 {
	text-align: center;
	border-bottom: 2px solid #000;
}

h1,p {
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
}

img {
	border-radius: 100px;
	width: 200px;
	border: 4px solid #fff;
	box-shadow: 3px 3px 14px 2px #000;
	display: block;
	margin: 0 auto;
}